{% extends 'core/base.html' %}
{% block title %}Add Lead{% endblock %}

{% block content %}
    <div class="py-6 px-6">
        <h1 class="text-xl">Add lead</h1>

        {{ team.plan.max_leads }} - {{ team.leads.all|length }}

        {% if team.plan.max_leads > team.leads.all|length %}
            Num leads: {{ team.leads.all|length }}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="px-8 py-4 bg-teal-600 text-white rounded-xl">Submit</button>
            </form>

        {% else %}
            <div class="mt-6 px-6 py-6 bg-red-400 rounded-xl text-white">
                Your have has reached maximum number of clients. Your owner must upgrade your plan!
            </div>
        {% endif %}
    </div>
{% endblock %}